<!DOCTYPE html>
<html>
<%- include(snippet+'head.ejs', {title:'博客 - 玄云海', npm_cdn:npm_cdn, gh_cdn:gh_cdn}); %>
<body>
<%- include(snippet+'loading.ejs'); %>
<%- include(snippet+'cover.ejs'); %>
<%- include(snippet+'header.ejs'); %>
<main class="main">
        <div class="row postlist" id="postlist">
        </div>
</main>
<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="/js/bootstrap.min.js"></script>
<style>
    .postlist {
        width: calc(100% - 40px);
        display: inline-block;
        margin: 20px;
        margin-top: 80px !important;
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        min-width: 310px;
        user-select: none;
    }

    .postlist > .card {
        height: 150px;
        padding: 10px;
        margin-bottom: 10px;
        text-decoration: none;
        text-overflow: ellipsis;
        color: black;
    }

    .postlist > .card > .text {
        height: 75%;
        width: 100%;
    }

    .postlist > .card > .info {
        color: #8f8f8f;
        font-size: 12px;
    }

    .postlist > .card > .info > * {
        margin: 5px;
    }

    @media (max-width: 425px)  {
        main{
            width: 100% !important;
        }
    }

    main{
        height: 80%;
        width: 80%;
        margin: auto;
    }

    .postlist > .card > .text > p {
        height: 50%;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="/js/login.js"></script>
<script src="/js/nav.js"></script>
<script>
    fetch('https://core.oblivionocean.top/blog/getlist').then(function(response) {
        response.json().then(function(responseJSON){
            if (responseJSON.status === true){
                for (var i = responseJSON.data.length-1; i >= 0; i--) {
                    document.getElementById('postlist').innerHTML += `<a class="card" href="/blog/post.html?pid=${responseJSON.data[i].pid}">
                <div class="text">
                    <h2>${responseJSON.data[i].title}</h2><p>${responseJSON.data[i].text}</p>
                </div>
                <div class="info">
                    <img src="${responseJSON.data[i].avatar}" alt="${responseJSON.data[i].uid}" class="writer-avater" style="width: 25px; height: 25px;border-radius: 100%;">
                    <i class="fas fa-tags"> ${responseJSON.data[i].tags.join(',')}</i>
                    <i class="fas fa-th-large"> ${responseJSON.data[i].category.join(',')}</i>
                     <i class="fas fa-eye"> ${responseJSON.data[i].look}</i>
                    <!--<i class="fas fa-heart"> 200</i>-->
                </div>
            </a>`}
                page.ok();
            } else {
                print_err(responseJSON.msg, document.getElementById('postlist'));
                page.ok();
            }
        }).catch(function(err) {
            print_err(err, document.getElementById('postlist'));
            page.ok();
        })
    })
</script>
</body>
</html>
