<header class="header">
    <i class="fas fa-ellipsis-h" id="ellipsis" onclick="nav();"></i>
    <div class="nav" id="nav">
        <a class="botton" href="/">
            <i class="fa fa-home"> 主页</i>
        </a>
        <a class="botton" href="/blog/">
            <i class="fas fa-blog"> 博客</i>
        </a>
    </div>
    <div class="user">
        <a onclick="document.getElementsByTagName('cover')[0].style.display='block';" class="login-btn">登录</a>
        <img class="head" src="/img/logo.jpg" style="display: none;" onclick="user_nav();" />
    </div>
    <div class="user-nav" id="user-nav">
        <a class="botton" href="/my">
            <i class="fas fa-user"> 个人主页</i>
        </a>
        <a class="botton" href="javascript:logout()">
            <i class="fas fa-sign-out-alt"> 退出</i>
        </a>
    </div>
</header>
