/* 全局CSS */
body {
    background-color: #d7d7d7;
    text-decoration: none;
    visibility: hidden;
    min-width: 220px;
}

.card-tags {
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    color: white;
    right: 0;
    position: absolute;
    padding: 3px;
    background-color: #0dcaf0;
}


/* 顶栏（头部） */
header.header {
    background-color: #fff;
    height: 60px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999999999999999;
    box-shadow: 0 3px 32px 0 rgba(31, 38, 135, 0.2);
}

header > .user {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    user-select: none;
}

header > .nav > .botton {
    background-color: white;
    height: 100%;
    color: rgba(82, 82, 82, 0.99);
    padding: 10px;
    text-align: center;
    width: auto;
    border-radius: 5px;
    display: inline-block;
}

header > .user-nav > .botton {
    background-color: white;
    height: 100%;
    color: rgba(82, 82, 82, 0.99);
    padding: 10px;
    text-align: center;
    width: auto;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
}

header > .user > a.login-btn {
    text-decoration: none;
    z-index: 1;
    background-color: black;
    color: white;
    text-align: center;
    width: 45px;
    height: 45px;
    padding-top: 10px;
    position: fixed;
    margin: 2px;
    border-radius: 50%;
}

header > .user > img.head {
    z-index: 2;
    position: fixed;
    border: 3px solid white;
    width: 48px;
    height: 48px;
    box-shadow: 0 0 32px 0 rgb(117 117 117 / 70%);
    border-radius: 50%;
}

header > .nav {
    position: absolute;
    top: 0;
    right: 60px;
    height: 100%;
    padding: 5px;
    background: white;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
}

header > .nav > .botton > * {
    position: relative;
    top: 50%;
    transform: translate(0, -70%);
}

header > .user-nav > .botton > * {
    position: relative;
    top: 50%;
    transform: translate(0, 0%);
}

header > .user-nav {
    position: absolute;
    top: 70px;
    right: 5px;
    height: auto;
    display: none;
    width: 120px;
    padding: 5px;
    background: white;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 0 32px 0 rgb(31 38 135 / 20%);
}

#ellipsis {
    position: absolute;
    top: 0;
    right: 60px;
    padding: 20px;
    font-size: 20px;
}


/* 页脚 */
footer {
    background-color: #e8e8e8;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: flex-start;
}

footer > div > * {
    margin: 3px;
    text-decoration: none;
    text-overflow: ellipsis;
    color: black;
    display: block;
}

footer > div > h4 {
    margin-bottom: 20px;
}

footer > .share-box > a > img {
    margin: 10px;
    color: black;
    width: 50px;
    height: 50px;
}

footer > .share-box {
    right: 0;
    position: absolute;
    float: right;
}

main {
    min-height: 90%;
}

/* 手机适配 */
@media (max-width: 425px) {
    footer {
        text-align: center;
        display: block;
    }

    footer > div {
        text-align: center !important;
    }

    footer > .share-box {
        text-align: center;
        position: unset;
        float: none;
    }

    header > .nav {
        top: 70px;
        right: 20px;
        display: none;
        width: 120px;
        height: auto;
        box-shadow: 0 0 32px 0 rgb(31 38 135 / 20%);
    }

    header > .nav > .botton {
        width: 100%;
    }

    header > .nav > .botton > * {
        transform: translate(0, 0%);
    }
}

cover {
    background: #0000004f;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    position: fixed;
}

login {
    width: 300px;
    height: 400px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

login > .btn--close {
    width: 30px;
    height: 30px;
    margin-left: 270px;
    padding: 5px;
}

login > input {
    margin: 10px 30px;
    height: 40px;
    width: calc(100% - 60px) !important;
    background: #fff;
    line-height: unset;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    padding: 3px;
}

login > button {
    margin: 50px;
    height: 40px;
    width: calc(100% - 100px);
    background: #231f1e;
    line-height: unset;
    border: 0;
    border-radius: 5px;
    padding: 3px;
    color: white;
}

.notyf, .notyf-announcer {
    z-index: 9999999999999999999999999999999999 !important;
}

/* 自定义标签 */
user-tags {
    margin: 10px;
    text-align: center;
    display: block;
}

user-tag {
    height: 10px;
    text-align: center;
    color: white;
    background-color: #8f8f8f59;
    padding: 2px 5px;
    border-radius: 5px;
    white-space: nowrap;
    margin: 3px !important;
    display: inline-table;
}

loading {
    width: 100%;
    height: 100%;
    display: flex;
    visibility: visible;
}

.loadingSeven {
    width: 80px;
    height: 40px;
    /* margin: auto; */
    /* margin-top:100px; */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.loadingSeven span {
    display: inline-block;
    width: 8px;
    height: 100%;
    border-radius: 4px;
    background: lightgreen;
    -webkit-animation: loadsaven 1.04s ease infinite;
}

@-webkit-keyframes loadsaven {
    0%, 100% {
        height: 40px;
        background: lightgreen;
    }
    50% {
        height: 60px;
        margin-top: -20px;
        background: lightblue;
    }
}

.loadingSeven span:nth-child(2) {
    -webkit-animation-delay: 0.13s;
}

.loadingSeven span:nth-child(3) {
    -webkit-animation-delay: 0.26s;
}

.loadingSeven span:nth-child(4) {
    -webkit-animation-delay: 0.39s;
}

.loadingSeven span:nth-child(5) {
    -webkit-animation-delay: 0.52s;
}
